@import "tailwindcss";

/* TAILWIND CONFIG */
@theme {
  /* COLORS */
  --color-c-neutral-0: #ffffff;
  --color-c-neutral-300: #d2d1d6;
  --color-c-neutral-500: #8784a4;
  --color-c-neutral-700: #4b486a;
  --color-c-neutral-900: #0c082b;

  --color-c-orange-500: #f57261;
  --color-c-orange-700: #e16151;

  --color-gradient-from: #f37362;
  --color-gradient-to: #ffffff
  
  /* FONTS */
  --font-inconsolata: "Inconsolata";
}

/* RESET */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* FONTS */
@font-face {
  font-family: Incosolata;
  src: url("../assets/fonts/Inconsolata-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url("../assets/fonts/Inconsolata-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url("../assets/fonts/Inconsolata-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url("../assets/fonts/Inconsolata-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
